@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'ethnocentric';
    src: url('../resources/ethnocentric.ttf');
    font-weight: normal;
    font-style: normal;
}

.whole-page {
    position: relative;
    min-height: 100vh;
    background-color: #FFFCF2;
}

.page-body {
    position: relative;
}
