@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@font-face {
    font-family: 'ethnocentric';
    src: url('../resources/ethnocentric.ttf');
    font-weight: normal;
    font-style: normal;
}

.whole-page {
    position: relative;
    min-height: 100vh;
    background-color: #FFFCF2;
}

.page-body {
}

.footer {
    position: absolute;
    bottom : 0;
    width: 100%;
    
    background-color: #c4c4c4;
    text-align: center;
    font-size: 12px;
}

.header {
    height: 25%;
    min-height: 180px;
    
    z-index: 1;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../resources/header1.jpg') center;
    opacity: 0.5;
}

.logo {
    padding-top: 20px;
    padding-left: 30px;

    display: flex;
    align-items: flex-end;

    font-family:'ethnocentric';
    color:black;
}

.logo-kbk {
    font-size: 40px;
}

.logo-softare-solutions {
    margin-bottom: 6px;
    font-size: 20px;
}

.menu {
    position: absolute;
    right: 30px;
    bottom: 10px;

    display: flex;

    font-family: Poppins;
    font-size: 30px;
}

.passive-menu-button {
    margin-left: 10px;
    color: black;
    text-decoration: none;
}

.active-menu-button {
    margin-left: 10px;
    color: lightslategrey;
    text-decoration: none;
}

.active-menu-button:hover {
    color: darkslategray;
}

.passive-menu-button:hover {
    color: white;
}

.smart {
    font-size: 30px;
    color:black;
}

.text-wrapper {
    margin-left: 10%;
    margin-top: 10%;
    max-width: 40%;
    
    font-family: Poppins;
}

.contact-button {
    border: none;
    background-color: orangered;
    color: white;
    font-family: Poppins;
    font-size: 20px;

    margin-left: 15%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.contact-button:hover {
    background-color: orange;
}