.contact-page-wrapper {
    text-align: center;
}

.contact-form-wrapper {
    justify-content: center;
    padding-top: 10%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;

    background: none;
    border:none;
    border-bottom: 1px solid black;
}

input:focus {
    width: 200px;
    display: block;
    margin-bottom: 20px;
    margin-right: 20px;

    background: none;
    border:none;
    outline: none;
    border-bottom: 1px solid black;
}

textarea {
    resize: none;
}

.submit-button {
    border: none;
    background-color: orangered;
    color: white;
    font-family: Poppins;
    font-size: 12px;

    max-height: 50px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 30px;
    padding-left: 30px;
}

.submit-button:hover {
    background-color: orange;
}