.header {
    height: 25%;
    min-height: 180px;
    
    z-index: 1;
    position: relative;
}

.header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../resources/header1.jpg') center;
    opacity: 0.5;
}

.logo {
    padding-top: 20px;
    padding-left: 30px;

    display: flex;
    align-items: flex-end;

    font-family:'ethnocentric';
    color:black;
}

.logo-kbk {
    font-size: 40px;
}

.logo-softare-solutions {
    margin-bottom: 6px;
    font-size: 20px;
}
