.smart {
    font-size: 30px;
    color:black;
}

.text-wrapper {
    margin-left: 10%;
    margin-top: 10%;
    max-width: 40%;
    
    font-family: Poppins;
}

.contact-button {
    border: none;
    background-color: orangered;
    color: white;
    font-family: Poppins;
    font-size: 20px;

    margin-left: 15%;
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
}

.contact-button:hover {
    background-color: orange;
}